body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-151px;
  width:540px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:151px;
  top:132px;
  width:540px;
  height:50px;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:151px;
  top:160px;
  width:419px;
  height:40px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:415px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:382px;
  top:136px;
  width:188px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
