body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:516px;
  top:334px;
  width:278px;
  height:73px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:73px;
}
#u1 {
  position:absolute;
  left:2px;
  top:28px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:32px;
  width:694px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:154px;
  width:346px;
  height:416px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:416px;
}
#u5 {
  position:absolute;
  left:2px;
  top:200px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:101px;
  width:346px;
  height:54px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:54px;
}
#u7 {
  position:absolute;
  left:2px;
  top:19px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:214px;
  top:114px;
  width:119px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:100px;
  top:154px;
  width:346px;
  height:346px;
  overflow:hidden;
}
#u10_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:346px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:516px;
  top:154px;
  width:278px;
  height:164px;
  overflow:hidden;
}
#u11_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:164px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:538px;
  top:166px;
  width:236px;
  height:140px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:140px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:580px;
  top:352px;
  width:134px;
  height:37px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:37px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:516px;
  top:334px;
  width:278px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:290px;
  top:32px;
  width:500px;
  height:37px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:37px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:172px;
  top:509px;
  width:58px;
  height:58px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u20 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:330px;
  top:509px;
  width:58px;
  height:58px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u22 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:100px;
  top:500px;
  width:346px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:329px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:346px;
  height:1px;
}
#u24 {
  position:absolute;
  left:268px;
  top:505px;
  width:10px;
  height:65px;
}
#u24_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u24_end {
  position:absolute;
  left:-5px;
  top:48px;
  width:20px;
  height:18px;
}
#u24_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:65px;
}
#u25 {
  position:absolute;
  left:100px;
  top:505px;
  width:174px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26 {
  position:absolute;
  left:274px;
  top:505px;
  width:173px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27 {
  position:absolute;
  left:516px;
  top:113px;
  width:274px;
  height:31px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:31px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
