body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:url('../../images/joiningcall/bg.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  left:-490px;
  width:970px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:490px;
  top:131px;
  width:970px;
  height:649px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:649px;
}
#u1 {
  position:absolute;
  left:2px;
  top:316px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1300px;
  top:476px;
  width:80px;
  height:49px;
  font-family:'', 'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:49px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:605px;
  top:178px;
  width:310px;
  height:58px;
  font-family:'', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:58px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1088px;
  top:315px;
  width:236px;
  height:86px;
  font-family:'', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:86px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1071px;
  top:634px;
  width:278px;
  height:73px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:73px;
}
#u9 {
  position:absolute;
  left:2px;
  top:28px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1121px;
  top:646px;
  width:182px;
  height:38px;
  font-family:'', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  color:#800080;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1071px;
  top:634px;
  width:278px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:870px;
  top:178px;
  width:500px;
  height:58px;
  font-family:'', 'Roboto Bold Italic', 'Roboto';
  font-weight:700;
  font-style:italic;
  font-size:48px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:58px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:677px;
  top:649px;
  width:58px;
  height:58px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u16 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:835px;
  top:649px;
  width:58px;
  height:58px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u18 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:773px;
  top:645px;
  width:10px;
  height:65px;
}
#u19_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u19_end {
  position:absolute;
  left:-5px;
  top:48px;
  width:20px;
  height:18px;
}
#u19_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:65px;
}
#u20 {
  position:absolute;
  left:605px;
  top:645px;
  width:174px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:779px;
  top:645px;
  width:173px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:1069px;
  top:475px;
  width:231px;
  height:49px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:49px;
  font-family:'', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#800080;
  text-align:center;
}
#u23 {
  position:absolute;
  left:1073px;
  top:589px;
  width:43px;
  height:34px;
  font-family:'', 'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:1110px;
  top:590px;
  width:197px;
  height:35px;
  font-family:'', 'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:35px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:609px;
  top:275px;
  width:338px;
  height:366px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:366px;
}
#u28 {
  position:absolute;
  left:605px;
  top:493px;
  width:345px;
  height:93px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:93px;
}
#u29 {
  position:absolute;
  left:2px;
  top:38px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:617px;
  top:527px;
  width:291px;
  height:33px;
  font-family:'', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:33px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:616px;
  top:493px;
  width:119px;
  height:29px;
  font-family:'', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:29px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
