body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:610px;
  top:7px;
  width:100px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:410px;
  top:450px;
  width:570px;
  height:42px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:42px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:210px;
  top:75px;
  width:786px;
  height:371px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:371px;
}
#u5 {
  position:absolute;
  left:206px;
  top:75px;
  width:200px;
  height:417px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:417px;
}
#u6 {
  position:absolute;
  left:2px;
  top:200px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:492px;
  width:996px;
  height:244px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:996px;
  height:244px;
}
#u8 {
  position:absolute;
  left:10px;
  top:0px;
  width:900px;
  height:37px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:37px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:37px;
  width:1000px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1000px;
  height:3px;
}
#u11 {
  position:absolute;
  left:200px;
  top:47px;
  width:10px;
  height:443px;
}
#u11_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u11_end {
  position:absolute;
  left:-5px;
  top:426px;
  width:20px;
  height:18px;
}
#u11_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:443px;
}
#u12 {
  position:absolute;
  left:0px;
  top:47px;
  width:200px;
  height:28px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:75px;
  width:200px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:4px;
  width:200px;
  height:3px;
}
#u15 {
  position:absolute;
  left:0px;
  top:453px;
  width:180px;
  height:37px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:37px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:180px;
  top:453px;
  width:20px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:37px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u16_img.disabled {
}
#u16.disabled {
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:10px;
  top:92px;
  width:130px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:10px;
  top:205px;
  width:130px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u20_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22 {
  position:absolute;
  left:980px;
  top:452px;
  width:20px;
  height:37px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:37px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u22_img.disabled {
}
#u22.disabled {
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:410px;
  top:450px;
  width:177px;
  height:42px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:42px;
}
#u25 {
  position:absolute;
  left:2px;
  top:13px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:410px;
  top:450px;
  width:40px;
  height:42px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u27 {
  position:absolute;
  left:2px;
  top:13px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:450px;
  top:457px;
  width:113px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:210px;
  top:450px;
  width:200px;
  height:42px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:361px;
  top:450px;
  width:49px;
  height:28px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:951px;
  top:47px;
  width:49px;
  height:28px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u34 {
  position:absolute;
  left:210px;
  top:75px;
  width:200px;
  height:42px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:361px;
  top:75px;
  width:49px;
  height:28px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37 {
  position:absolute;
  left:210px;
  top:123px;
  width:200px;
  height:15px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:211px;
  top:143px;
  width:200px;
  height:15px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:211px;
  top:165px;
  width:49px;
  height:15px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:270px;
  top:165px;
  width:141px;
  height:15px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:15px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:210px;
  top:450px;
  width:180px;
  height:42px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u46 {
  position:absolute;
  left:390px;
  top:452px;
  width:20px;
  height:37px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:37px;
}
#u46_img.mouseOver {
}
#u46.mouseOver {
}
#u46_img.disabled {
}
#u46.disabled {
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:587px;
  top:450px;
  width:213px;
  height:42px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:42px;
}
#u49 {
  position:absolute;
  left:2px;
  top:13px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:587px;
  top:450px;
  width:40px;
  height:42px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u51 {
  position:absolute;
  left:2px;
  top:13px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:627px;
  top:457px;
  width:168px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:28px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:208px;
  top:75px;
  width:786px;
  height:371px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:371px;
}
#u55 {
  position:absolute;
  left:928px;
  top:698px;
  width:70px;
  height:40px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:168px;
  top:92px;
  width:24px;
  height:15px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:168px;
  top:204px;
  width:24px;
  height:15px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:380px;
  top:7px;
  width:100px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:27px;
  top:88px;
  width:131px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64 {
  position:absolute;
  left:490px;
  top:7px;
  width:100px;
  height:30px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:27px;
  top:204px;
  width:131px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67 {
  position:absolute;
  left:370px;
  top:0px;
  width:340px;
  height:37px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:37px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:10px;
  top:147px;
  width:130px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u70 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u69_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u71 {
  position:absolute;
  left:168px;
  top:147px;
  width:24px;
  height:15px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:27px;
  top:143px;
  width:131px;
  height:25px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
