body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-150px;
  width:460px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:150px;
  top:140px;
  width:220px;
  height:130px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:130px;
}
#u1 {
  position:absolute;
  left:2px;
  top:54px;
  width:216px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:390px;
  top:140px;
  width:220px;
  height:130px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:54px;
  width:216px;
  word-wrap:break-word;
}
